<section class="authorisation-container">
    <h2>Register</h2>
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Username" formControlName="username">
        <input type="password" placeholder="Password" formControlName="password">

        <button type="submit" 
                [disabled]="loading()">{{loading()? 'Submitting ': 'Register'}}</button>
    </form>

    @if(success()){
        <p> {{success()}}</p>
    }
    @if(error()){
        <p>{{error()}}</p>
    }
</section>